.navbar {
  position: absolute;
  top: 100px;
  left: 50px;
  right: 50px;
  justify-items: center;
  border-radius: 8px;
}

.card {
  border: none;
  margin: 10px;
  flex: 1 1 300px;
  max-height: 200px;
  background-color: rgba(227, 201, 157);
}
.fa-regular,
.fa-brands {
  margin: 3px 4px;
}
.selecionar{
  color: #fd0000;
}
.custom-nav a {
  color: #443627;
}

.container-pai {
  min-height: 400px;
  justify-items: center;
}

.dropdown {
  display: inline;
  margin-right: 20px;
}


.dropdown-toggle {
  background-color: #443627;
  text-align: left;
}