.navbar {
  position: absolute;
  top: 100px;
  left: 50px;
  right: 50px;
  justify-items: center;
  border-radius: 8px;
}

.fa-regular,
.fa-brands {
  margin: 3px 4px;
}

.custom-nav {
  /*width: 100px;*/
}

.custom-nav a {
  color: #443627;
}

.container-pai {
  min-height: 1500px;
  justify-items: center;
}

.dropdown {
  display: inline;
  margin-right: 20px;
}


.dropdown-toggle {
  background-color: #443627;
  text-align: left;
}