.navbar {
  position: absolute;
  top: 100px;
  left: 50px;
  right: 50px;
  justify-items: center;
  border-radius: 8px;
}


.resultado {
  align-items: center;
  background-color: rgb(200, 64, 30);
  color: white;
  padding: 8px 30px;
  border-radius: 5px;
  margin-bottom: 2px;
}

.container-pai {
  min-height: 1500px;
}

.dropdown {
  display: inline;
  margin-right: 20px;
}

.dropdown-toggle {
  width: 200px;
  text-align: left;
  background-color: #443627;
}

.botao-pesquisar {
  position: absolute;
  right: 8px;
  background-color: rgb(227, 201, 157);
  border-radius: 5px;
  border-style: solid;
  border-color: #3E5641;
  color: #3E5641;
  width: 200px;
  padding: 5px 5px;
  transition: all 0.25s;
}

.botao-pesquisar:hover {
  background-color: #3E5641;
  color: white;
}

.botao-pesquisar:active {
  opacity: 0.7;
}